/* Reset's */
*{
    margin: 0;
    padding: 0;
}
textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

/* Header */
.imagen-de-fundo-header{
    width: calc(100% - 20px);
    height: 100px;
    position: absolute;
    z-index: 2;
}

.imagens-com-padding{
    padding: 10px;
    position: relative;
    display: flex;
    justify-content: center;
}

.img-logo{
    position: absolute;
    z-index: 3;
    top: 15px;
}

/* Nav */
nav{
    margin-top:  110px;
    display: flex;
    justify-content: space-around;
}

.ul-nav{
    display: flex;
    list-style: none;
}
.ul-nav li{
    padding: 10px;
}

a{
    color: black;
}

/* Main */

/* Sobre Nós*/
.section-sobre-nos{
    background-color: yellowgreen;
    margin: 10px;
    padding: 10px;
    display: flex;
}

.img-sobre{
    width: 500px;
}

/* Produtos */
.texto-no-centro{
    text-align: center;
}

.container-produtos{
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}
h3{
    margin-bottom: 10px;
}
.container-produtos a{
    padding: 8px;
    background-color: yellowgreen;
    border: 1px solid black;
    border-radius: 5px;
}

/* Serviços */
.section-serviços{
    background-color: yellowgreen;
}

/* Contatos */
.section-contatos{
    margin: 10px;
}

.p-formulario{
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 5px;
}

.inputs-form{
    border: 1px solid yellowgreen;
    padding: 5px;
}
.container-contatos{
    display: flex;
    justify-content: space-between;
}

.section-contatos p.texto-no-centro{
    margin-bottom: 10px;
}

.btn-enviar{
    padding: 10px;
    border: 1px solid yellowgreen;
    border-radius: 5px;
    cursor: pointer;
}
abbr{
    text-decoration: none;
}

/* footer */
footer{
    margin-top: 20px;
    padding: 10px;
    background-color: yellowgreen;
}